body
{
    background-color: antiquewhite;
    color: rgb(93, 7, 93);
    font-family:  cursive;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: rgb(72, 182, 209);
}
#camera, #result
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}